body {
  color: #40514e;
  text-align: center;
  margin: 0;
}

h1 {
  font-size: 5rem;
  color: #dd7631;
  margin: 50px auto 20px auto;
  font-family: "Comfortaa", tahoma, sans-serif;
}

h2 {
  font-size: 3rem;
  color: #dd7631;
  margin: 50px auto 20px auto;
  font-family: "Comfortaa", tahoma, sans-serif;
}

h3 {
  font-size: 1.5rem;
  color: #dd7631;
  margin: 10px auto 0 auto;
  font-family: "Comfortaa", tahoma, sans-serif;
}

p {
  font-family: "Comfortaa", tahoma, sans-serif;
  line-height: 2;
  padding-bottom: 10px;
}

.sub-title {
  font-size: 3rem;
}

hr {
  border: dotted grey 10px;
  border-bottom: none;
  width: 10%;
  margin: 50px auto;
}

a {
  color: #40514e;
  font-family: "Comfortaa", sans-serif;
  margin: 10px 20px;
  font-size: 1.5rem;
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  color: #dd7631;
}

.top-container {
  background-color: #d4ebd0;
  position: relative;
  padding-top: 100px;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 40px;
}

.bottom-cloud {
  position: absolute;
  left: 250px;
  bottom: 200px;
}

.middle-container {
  padding-top: 60px;
  background-color: #f9f9f9;
  padding-bottom: 50px;
}

.about-me-img {
  width: 150px;
}

.about-me {
  width: 40%;
  margin: 70px auto 70px auto;
}

.skill-row {
  width: 50%;
  margin: 70px auto 70px auto;
  text-align: left;
}

.consult-img {
  width: 150px;
  float: left;
  margin-right: 30px;
}

.teach-img {
  width: 150px;
  float: right;
  margin-left: 30px;
}

.interests {
  width: 90%;
  margin: 10px auto 20px auto;
}

.interest-row {
  display: flex;
  font-size: 12px;
  text-align: left;
  align-items: center;
  justify-content: center;
}

/*.interests-row > section {
  flex: 1;
  justify-content: center;
}*/

.flex-box-item {
	width: 400px;
	margin: 10px;
	padding: 5px;
	}
	
.interest-header-display {
  margin: 0;
  font-size: 16px;
}

.interest-link {
  font-size: 14px;
  color: #dd7631;
  font-style: bold;
}

.webdev-box {
  background-color: #c5e1a5;
  border-radius: 10px;
}

.coding-img {
  width: 35px;
  height: 35px;
  float: left;
  margin-right: 10px;
}

.travel-box {
  background-color: #ffe082;
  border-radius: 10px;
}

.travel-img {
  width: 35px;
  height: 35px;
  float: left;
  margin-right: 10px;
}

.photo-box {
	background-color: #b3e5fc;
	border-radius: 10px;
}

.photo-img {
  width: 35px;
  height: 35px;
  float: left;
  margin-right: 10px;
}

.contact-me {
  width: 70%;
  margin: auto;
}

.contact-reason {
  width: 50%;
  margin: auto;
  padding-bottom: 20px;
}

.btn {
  background: #588da8;
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 6px;
  font-family: "Comfortaa", tahoma, sans-serif;
  color: #ffffff;
  font-size: 24px;
  padding: 15px 30px 15px 30px;
  text-decoration: none;
  margin: 20px;
  box-shadow: 6px 6px 12px 0px #85a392;
  -webkit-box-shadow: 6px 6px 12px 0px #85a392;
  -moz-box-shadow: 6px 6px 12px 0px #85a392;
}

.btn:hover {
  background: #d4ebd0;
  text-decoration: none;
  color: #dd7631;
}

.bottom-container {
  padding-top: 30px;
  background-color: #d4ebd0;
}

.footer-link {
  margin-top: 30px;
}

.copyright {
  margin-top: 20px;
}

@media screen and (max-width: 800px) {
  .interest-row {
      flex-direction: column;
      align-items: center;
  }
}
