* { box-sizing: border-box; }

body {
    background-color: #c5e1a5;
    display: flex;
    flex-wrap: wrap;
}

.main-content {
    padding: 10%;
    flex: 1 1 80%;
    min-height: 100vh;
}

.portfolio {
    display: grid;
    height: 100%;
    grid-template-rows: repeat(6, 1fr);
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 20px;
}

.portfolio-item {
    background-color: ivory;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    font-size: 2em;
}

.portfolio-item.small {
    grid-row: span 1;
    grid-column: span 1;
}

.portfolio-item.medium {
    grid-row: span 2;
    grid-column: span 2;
}

.portfolio-item.large {
    grid-row: span 3;
    grid-column: span 3;
}

.portfolio-item.tall {
    grid-row: span 3;
    grid-column: span 2;
}

.portfolio-item.wide {
    grid-row: span 2;
    grid-column: span 3;
}

.one {
    background-color: khaki;
}

.two {
    background-color: lightsalmon;
}

.three {
    background-color: lightskyblue;
}

.four {
    background-color: mediumpurple;
}

.five {
    background-color: navajowhite;
}

.six {
    background-color: olive;
}

.portfolio-item:hover {
    color: white;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.85);
  }
  
  @media screen and (max-width: 600px) {
    .portfolio {
        flex-direction: column;
    }
  }
  
  




