* { box-sizing: border-box; }

body {
    text-align: center;
    margin: 0;
}

h1 {
    font-size: 5rem;
    color: #dd7631;
    margin: 50px auto 20px auto;
    font-family: "Comfortaa", tahoma, sans-serif;
  }
  
  h2 {
    font-size: 3rem;
    color: #dd7631;
    margin: 50px auto 20px auto;
    font-family: "Comfortaa", tahoma, sans-serif;
  }
  
  h3 {
    font-size: 1.5rem;
    color: #dd7631;
    margin: 10px auto 0 auto;
    font-family: "Comfortaa", tahoma, sans-serif;
  }
  
  p {
    font-family: "Comfortaa", tahoma, sans-serif;
    line-height: 2;
    padding-bottom: 10px;
  }

  .top-container {
    background-color: #d4ebd0;
    position: relative;
    padding-top: 100px;
    padding-bottom: 50px;
  }
  
  .sub-title {
    font-size: 3rem;

  }

.main-content {
    background-color: #f9f9f9;
    padding: 10%;
    flex: 1 1 80%;
    min-height: 100vh;
}

.portfolio {
    display: grid;
    height: 100%;
    grid-template-rows: repeat(6, 1fr);
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 20px;
}

.portfolio-item {
    background-color: ivory;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    font-size: 2em;
}

.portfolio-item.small {
    grid-row: span 1;
    grid-column: span 1;
}

.portfolio-item.medium {
    grid-row: span 2;
    grid-column: span 2;
}

.portfolio-item.large {
    grid-row: span 3;
    grid-column: span 3;
}

.portfolio-item.tall {
    grid-row: span 3;
    grid-column: span 2;
}

.portfolio-item.wide {
    grid-row: span 2;
    grid-column: span 3;
}

.one {
    background-color: khaki;
}

.two {
    background-color: lightsalmon;
}

.three {
    background-color: lightskyblue;
}

.four {
    background-color: mediumpurple;
}

.five {
    background-color: navajowhite;
}

.six {
    background-color: olive;
}

.portfolio-item:hover {
    color: white;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.85);
  }
  
  @media screen and (max-width: 600px) {
    .portfolio {
        flex-direction: column;
    }
  }
  
  




